<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>2</TotalTime><Application>LibreOffice/5.4.5.1$Linux_X86_64 LibreOffice_project/40m0$Build-1</Application><Pages>1</Pages><Words>272</Words><Characters>1243</Characters><CharactersWithSpaces>1504</CharactersWithSpaces><Paragraphs>4</Paragraphs></Properties>