<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Buyify
      </h1>
      <h2 class="subtitle">
        E-commerce for the masses 
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
  <h1 class="is-size-1">Create your own E-Store</h1>
    <form action="/store" method="POST" style="padding-top:20px">
    <div class="field">
    <div class="control">
    <input name="name" class="input is-large" placeholder="Store Name" autofocus>
    </div>
    </div>
    <div class="field">
    <div class="control">
    <button class="button is-success is-fullwidth">Create</button>
    </div>
    </div>
    </form>
    </div>
    </div>
  </div>
</section>
